<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>

    ficha:
    <ul>
      {% for pessoa in pessoas %}
     <li> {{ pessoa.id }} - {{ pessoa.nome }} <a href="{% url 'editar' pessoa.id %}"> editar </a><a href="{% url 'delete' pessoa.id%}"> Deletar </a> </li>
      {% endfor %}
    </ul>
    <form action="{% url 'salvar' %}" method = "POST">  
      {% csrf_token %}
      <input type="text" name="nome">
      <button type="submit">Salvar</button>
    </form>
  </body>
</html>